img{
    width: 70px;
    height: 70px ;
    object-fit: cover;
    object-position: center;
}

table, th, td {
    border: 1px solid #000000;
  }

  .button {
    background-color: #aa2804;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }